.CardContainer {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Card {
  display: grid;
  grid-template-rows: auto 1fr; /* This will create two rows: one for the title and one for the content */
  width: 18vw;
  height: 100%;
  background-color: #b2a4d4;
  grid-column: 2; /* This will place the card in the second column */
  align-items: center;
  justify-items: center;
}

.Card_Image {
  grid-column: 1; /* This will place the image in the first column */
}

.Card_Title {
  grid-row: 1;
  margin-top: 1vh;
  margin-bottom: 0px;
  font-size: 3vh;
  font-weight: bold;
  text-align: center;
}

.Card_Content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This will create two equal-width columns */
  gap: 1vh;
  color: white;
  font-size: 2vh;
}
