.Card {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 18vw;
  height: 100%;
  grid-column: 2;
  align-items: center;
  justify-items: center;
}

.Card_Name {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}
