.container {
  display: flex;
  justify-content: center;

  align-items: center;
}

.first_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header_container header_container"
    "calendar_container horarios_container";
  gap: 5vh;

  .header_container {
    grid-area: header_container;
    display: grid;
    justify-content: start;
    grid-template-areas:
      "back_button"
      "sub_title"
      "text"
      "line";
  }

  .calendar_container {
    grid-area: calendar_container;
  }

  .horarios_container {
    grid-area: horarios_container;
    /* your styles here */
  }
}

.back_button {
  color: blueviolet;
  grid-area: back_button;
  border: none;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_title {
  grid-area: sub_title;
  font-size: 1.5rem;
  font-weight: bold;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.line {
  grid-area: line;
  height: 2px;
  width: 20vw;
  background-color: black;
}

.horarios {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border: 1px solid black;
}

.second_container {
  grid-area: second_container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}

.second_container {
  > .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "field1 field2"
      "field3 field3"
      "button button";
    margin-bottom: 5vh;
    gap: 2vw;
  }
}

.form {
  .field1 {
    grid-area: field1;
  }

  .field2 {
    grid-area: field2;
  }

  .field3 {
    grid-area: field3;
    grid-column: span 2;
    height: 20vh;
    margin-bottom: 2vh;
  }

  .input {
    margin-bottom: 2vh;
    width: 20vw;
    height: 5vh;
    padding: 0 1vw;
  }

  .button {
    grid-area: button;
    height: 5vh;
    border-radius: 5px;
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}
