.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .formContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .formContainer {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .formContainer {
    width: 33%;
  }
}
