.container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  justify-content: center;
}

.title {
  grid-area: title;
  color: purple;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.map_Container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16vw;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "field1 field2"
    "field3 field3"
    "button button";
  margin-bottom: 5vh;
  gap: 2vw;
}

.field1 {
  grid-area: field1;
}

.field2 {
  grid-area: field2;
}

.field3 {
  grid-area: field3;
  grid-column: span 2;
  height: 20vh;
  margin-bottom: 2vh;
}

.input {
  margin-bottom: 2vh;
  width: 20vw;
  height: 5vh;
  padding: 0 1vw;
}

.button {
  grid-area: button;
  height: 5vh;
  border-radius: 5px;
  border: none;
  background-color: purple;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
