.table {
  display: grid;
  place-items: center;
  grid-gap: 1rem;
}

.table_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table_cell {
  padding: 1rem;
}

.table_header {
  grid-column: span 3;
  text-align: center;
  padding: 12px 0;
}

.table_button {
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
