.Title_Cortes {
  font-size: 2.5rem;
  font-weight: 700;
  color: purple;
  margin-bottom: 1rem;
}

.button {
  background-color: purple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.Seção_Cortes {
  margin-bottom: 100px;
  background: linear-gradient(180deg, rgb(161, 158, 158) 0%, white 100%);
  width: 100vw;
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-gap: 0;
  justify-content: center;
  align-content: center;
}

.Seção_Conversa {
  display: grid;
  grid-template-columns: 20rem 20rem;
  grid-gap: 0;
  justify-content: center;
}

.Seção_Profissionais {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.Seção_Profissionais_Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Seção_Serviços {
  background-color: rgb(50, 9, 88);
  display: grid;
  place-items: center;
  grid-gap: 1rem;
}

.Card_Serviços_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Title_Serviços {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0rem;
}

.SubTitle_Serviços {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.Seção_Fotos {
  margin-top: 100px;
  background: linear-gradient(180deg, #b2a4d4 0%, white 100%);
  display: grid;
  place-items: center; /* This will center the items both vertically and horizontally */
  grid-gap: 1rem;
  margin-bottom: 10vh;
}

.Seção_Fotos_Content {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: space-between;
}

.Serviços_Button {
  background-color: rgb(50, 9, 88);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
