.table {
  display: grid;
  place-items: center;
  grid-gap: 1rem;
  margin-bottom: 40px;
}

.header_container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  margin-bottom: 10vh;
}

.header_container_categories {
  display: flex;
  flex-wrap: wrap;
  gap: 3vw;
  justify-content: space-between;
}

.table_header {
  grid-column: span 3;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.line_category {
  height: 2px;
  width: 33vw;
  background-color: black;
}

.header_category {
  font-size: 1.3rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 2px;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 80vw;
  background-color: black;
}

.wrapper {
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.table_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 15vw;
  margin-bottom: 10px;
}

.table_button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
